<p id="notice"><%= notice %></p>

<p>
  <strong>Screen name:</strong>
  <%= @user.screen_name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Profile image path:</strong>
  <%= @user.profile_image_path %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
